 <!DOCTYPE html>
 <html lang="en">

 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Digi Perpus</title>

   <link rel="stylesheet"
     href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
   <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
   <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
   <link rel="stylesheet" href="dist/css/adminlte.min.css">
   <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
   <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="plugins/toastr/toastr.min.css">
   <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
   <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
   <link rel="stylesheet" href="css/style1.css">
 </head>


 <body class="hold-transition sidebar-mini">
   <div class="wrapper">
     <nav class="main-header navbar navbar-expand navbar-white navbar-light">
       <ul class="navbar-nav">
         <li class="nav-item">
           <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
         </li>

         <li class="nav-item dropdown">

       </ul>
       <ul class="navbar-nav ml-auto">
         <li class="nav-item dropdown">
           <a class="nav-link" data-toggle="dropdown" href="#">
             <i class="far fa-user-circle"></i>
           </a>
           <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

             <div class="dropdown-divider"></div>
             <a href="/ubah_password" class="dropdown-item">
               <i class="fas fa-lock mr-2"></i> Ubah Password
             </a>
             <div class="dropdown-divider"></div>
             <a href="/logout" class="dropdown-item" onclick="logout()">
               <i class="fas fa-sign-out-alt mr-2"></i> Logout
             </a>
           </div>
         </li>
       </ul>

     </nav>



     <aside class="main-sidebar sidebar-dark-primary elevation-4">
       <a href="/beranda" class="brand-link">
         <img src="dist/img/book1.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
         <span class="brand-text font-weight-light">Digi Perpus</span>
       </a>

       <div class="sidebar">
         <div class="user-panel mt-3 pb-3 mb-3 d-flex">
           <div class="image">
             <img src="dist/img/pngegg (1).jpg" class="img-circle elevation-2" alt="User Image">
           </div>
           <div class="info" id="user">
           </div>
         </div>


         <nav class="mt-2">
           <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

             <li class="nav-item">
               <a href="/beranda" class="nav-link">
                 <i class="nav-icon fas fa-tachometer-alt"></i>
                 <p>
                   Beranda
                 </p>
               </a>
             </li>
             <li class="nav-item ">
               <a href="#" class="nav-link">
                 <i class="nav-icon fas fa-users"></i>
                 <p>
                   Anggota
                   <i class="right fas fa-angle-left"></i>
                 </p>
               </a>

               <ul class="nav nav-treeview">
                 <li class="nav-item">
                   <a href="/anggota_input" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Input</p>
                   </a>
                 </li>

                 <li class="nav-item">
                   <a href="/anggota_laporan" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Laporan</p>
                   </a>
                 </li>

               </ul>
             </li>

             <li class="nav-item menu-open">
               <a href="#" class="nav-link active">
                 <i class="nav-icon fas fa-book"></i>
                 <p>
                   Data Buku
                   <i class="right fas fa-angle-left"></i>
                 </p>
               </a>
               <ul class="nav nav-treeview">
                 <li class="nav-item ">
                   <a href="/Buku_input" class="nav-link active">
                     <i class="far fa-circle nav-icon"></i>

                     <p>Input</p>
                   </a>
                 </li>
                 <li class="nav-item">
                   <a href="/buku_daftar" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Daftar Buku</p>
                   </a>
                 </li> 
                 <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-th-large"></i>
                    <p>
                      Kategori
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="/kategori" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Input</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/lap_kategori" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Laporan</p>
                      </a>
                    </li>
                  </ul>
                </li>
             <li class="nav-item">
               <a href="/penerbit_input" class="nav-link">
                 <i class="nav-icon fas fa-landmark"></i>
                 <p>
                   Penerbit
                 </p>
               </a>

             <li class="nav-item">
               <a href="#" class="nav-link">
                 <i class="nav-icon fas fa-arrow-right"></i>
                 <p>
                   Pemasukan Buku
                   <i class="right fas fa-angle-left"></i>
                 </p>
               </a>
               <ul class="nav nav-treeview">
                 <li class="nav-item">
                   <a href="/pemasukan_input" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Input</p>
                   </a>
                 </li>
                 <li class="nav-item">
                   <a href="/pemasukan_laporan" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Laporan</p>
                   </a>
                 </li>
               </ul>
             </li>
             <li class="nav-item">
               <a href="#" class="nav-link">
                 <i class="nav-icon fas fa-arrow-left"></i>
                 <p>
                   Pengeluaran Buku
                   <i class="right fas fa-angle-left"></i>
                 </p>
               </a>
               <ul class="nav nav-treeview">
                 <li class="nav-item">
                   <a href="/pengeluaran_input" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Input</p>
                   </a>
                 </li>
                 <li class="nav-item">
                   <a href="/pengeluaran_laporan" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Laporan</p>
                   </a>
                 </li>

               </ul>
             </li>
             <li class="nav-item">
               <a href="#" class="nav-link">
                 <i class="nav-icon fas fa-book-open"></i>
                 <p>
                   Peminjaman Buku
                   <i class="right fas fa-angle-left"></i>
                 </p>
               </a>
               <ul class="nav nav-treeview">
                 <li class="nav-item">
                   <a href="/peminjaman_input" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Input</p>
                   </a>
                 </li>
                 <li class="nav-item">
                   <a href="/peminjaman_laporan" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Laporan</p>
                   </a>
                 </li>
               </ul>
             </li>
             <li class="nav-item">
               <a href="#" class="nav-link">
                 <i class="nav-icon fas fa-book-open"></i>
                 <p>
                   Pengembalian Buku
                   <i class="right fas fa-angle-left"></i>
                 </p>
               </a>
               <ul class="nav nav-treeview">
                 <li class="nav-item">
                   <a href="/pengembalian_input" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Input</p>
                   </a>
                 </li>

                 <li class="nav-item">
                   <a href="/pengembalian_laporan" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Laporan</p>
                   </a>
                 </li>
               </ul>
             </li>
             <li class="nav-item">
               <a href="/history" class="nav-link">
                 <i class="nav-icon fas fa-clock"></i>
                 <p>
                   History
                 </p>
               </a>
             </li>
             
             <li class="nav-item">
               <a href="/buku_pinjam" class="nav-link">
                 <i class="nav-icon fas fa-list"></i>
                 <p>
                   Buku Yang Dipinjam
                 </p>
               </a>
             </li>
             <li class="nav-item">
               <a href="#" class="nav-link">
                 <i class="nav-icon fas fa-coins"></i>
                 <p>
                   Denda
                   <i class="right fas fa-angle-left"></i>
                 </p>
               </a>
               <ul class="nav nav-treeview">
                 <li class="nav-item">
                   <a href="/denda" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Laporan Denda</p>
                   </a>
                 </li>
                 <li class="nav-item">
                   <a href="/bayar_denda" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Pembayaran Denda</p>
                   </a>
                 </li>
                 <li class="nav-item">
                   <a href="/laporan_bayar" class="nav-link">
                     <i class="far fa-circle nav-icon"></i>
                     <p>Laporan Pembayaran</p>
                   </a>
               </ul>
             </li>
             <li class="nav-item">
               <a href="/konfigurasi" class="nav-link">
                 <i class="nav-icon fas fa-wrench"></i>
                 <p>
                   Konfigurasi
                 </p>
               </a>
             </li>
             <li class="nav-item">
               <a href="/input_user" class="nav-link">
                 <i class="nav-icon fas fa-user-edit"></i>
                 <p>
                   Input User
                 </p>
               </a>
             </li>
           </ul>
         </nav>
       </div>
     </aside>

     <div class="content-wrapper">
       <div class="content-header">
         <div class="container-fluid">
           <div class="row mb-2">
             <div class="col-sm-6">
               <h1 class="m-0">INPUT BUKU</h1>
             </div>
             <div class="col-sm-6">
               <ol class="breadcrumb float-sm-right">
                 <li class="breadcrumb-item"><a href="/beranda">Beranda</a></li>
                 <li class="breadcrumb-item active">Input Buku</li>
               </ol>
             </div>
           </div>
         </div>
       </div>


       <div class="content">
         <div class="container-fluid">

           <div class="row">
             <div class="col-lg">
               <div class="card">
                 <div class="card-body">
                   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#baru">
                     Tambah Buku
                   </button>
                   <hr>
                   <div id="table_buku"></div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>

       <div class="modal fade" id="baru">
         <div class="modal-dialog modal-lg">
           <div class="modal-content">
             <div class="modal-header">
               <h4>
                 <i class="nav-icon fas fa-plus"></i>
                 Tambah Buku
               </h4>
             </div>
             <div class="modal-body">
               <div class="row mb-2">
                 <div class="form-group col-md-6">
                   <label>Judul</label>
                   <input type="text" name="Judul" class="form-control" id="tambah_judul" placeholder="Judul">
                 </div>
                 <div class="form-group col-md-6">
                   <label>Pengarang</label>
                   <input type="text" name="Pengarang" class="form-control" id="tambah_pengarang"
                     placeholder="Pengarang">
                 </div>
                 <div class="form-group col-md-6">
                   <label>Penerbit</label>
                   <select class="form-control select2bs4" id="tambah_penerbit">
                     <option value="0">0</option>
                   </select>
                 </div>
                 <div class="form-group col-md-6">
                   <label>Tahun Terbit</label>
                   <input type="text" name="Tahun_terbit" class="form-control" id="tambah_terbit"
                     placeholder="Tahun Terbit">
                 </div>
                 <div class="form-group col-md-6">
                   <label>Jilid</label>
                   <input type="text" name="jilid" class="form-control" id="tambah_jilid" placeholder="Jilid">
                 </div>
                 <div class="form-group col-md-6">
                   <label>Jumlah Halaman</label>
                   <input type="text" name="Jumlah_Halaman" class="form-control" id="tambah_halaman"
                     placeholder="Jumlah Halaman">
                 </div>
                 <div class="form-group col-md-6">
                   <label>ISBN</label>
                   <input type="text" name="isbn" class="form-control" id="tambah_isbn" placeholder="ISBN">
                 </div>
                 <div class="form-group col-md-6">
                   <label>Rak Buku</label>
                   <input type="text" name="rak" class="form-control" id="tambah_rak" placeholder="Rak Buku">
                 </div>
                 <div class="form-group col-md-6">
                  <label>Kategori</label>
                  <select class="form-control select2bs4" id="tambah_kategori">
                    <option value="0">0</option>
                  </select>
                </div>
                 <div class="form-group col-md-6">
                   <label>Sinopsis</label>
                   <textarea name="sinopsis" class="form-control" id="tambah_sinopsis" placeholder="Sinopsis">
                   </textarea>
                 </div>
               </div>
              <!-- </div>
           </div> -->

               <!-- <div class="modal-body">
                 <div class="row mb-2">
                   <div class="form-group col-md-6">
                     <b>Upload Image</b>
                     <div class="img">
                       <img src="no-image.png" id="gambar">
                     </div>
                     <div class="form-group col-md-9">
                       <input type="file" name="files" id="file" style="display: none;">
                       <button type="button" id="pilih" class="btn-primary" data-toggle="modal"
                         style="margin-top: 0px;">Pilih file</button>
                       <button id="upload-button" class="btn-success" style="margin-top: 0px;"> Upload </button>
                     </div>
                   </div>
                 </div>
               </div> -->
             <!-- </div> -->
             <div class="modal-footer justify-content-between">
               <button type="button" class="btn btn-default" data-dismiss="modal" onclick="kosong_n_buku">Tutup</button>
               <button type="button" class="btn btn-primary" onclick="simpan_buku(0,'tambah')">Simpan</button>
             </div>
           </div>
         </div>
       </div>
     </div>


     <div class="modal fade" id="edit">
       <div class="modal-dialog modal-lg">
         <div class="modal-content">
           <div class="modal-header">
             <h4>
               <i class="nav-icon fas fa-edit"></i>
               Edit
             </h4>
           </div>
           <div class="modal-body">
             <div class="row mb-2">
               <div class="form-group col-md-6">
                 <label>Judul</label>
                 <input type="text" name="Judul" class="form-control" id="edit_judul" placeholder="Judul">
               </div>

               <div class="form-group col-md-6">
                 <label>Pengarang</label>
                 <input type="text" name="Pengarang" class="form-control" id="edit_pengarang" placeholder="Pengarang">
               </div>
               <div class="form-group col-md-6">
                <label>Penerbit</label>
                <select class="form-control select2bs4 " id="edit_penerbit">
                  <option value="0">0</option>
                </select>
              </div>
               <div class="form-group col-md-6">
                 <label>Tahun Terbit</label>
                 <input type="text" name="Tahun_terbit" class="form-control" id="edit_terbit"
                   placeholder="Tahun Terbit">
               </div>
               <div class="form-group col-md-6">
                 <label>Jilid</label>
                 <input type="text" name="jilid" class="form-control" id="edit_jilid" placeholder="Jilid">
               </div>
               <div class="form-group col-md-6">
                 <label>Jumlah Halaman</label>
                 <input type="text" name="Jumlah_Halaman" class="form-control" id="edit_halaman"
                   placeholder="Jumlah Halaman">
               </div>
               <div class="form-group col-md-6">
                 <label>ISBN</label>
                 <input type="text" name="isbn" class="form-control" id="edit_isbn" placeholder="ISBN">
               </div>
               <div class="form-group col-md-6">
                 <label>Rak Buku</label>
                 <input type="text" name="rak" class="form-control" id="edit_rak" placeholder="Rak Buku">
               </div>
               <div class="form-group col-md-6">
                <label>Kategori</label>
                <select class="form-control select2bs4" id="edit_kategori">
                  <option value="0">0</option>
                </select>
              </div>
              <!-- </div> -->
              <div class="form-group col-md-6">
                <label>Sinopsis</label>
                <textarea name="sinopsis" class="form-control" id="edit_sinopsis" placeholder="Sinopsis">
                </textarea>
              </div>
             </div>

             <!-- <div class="modal-body">
               <div class="row mb-2">
                 <div class="form-group col-md-6">
                   <b>Upload Image</b>
                   <div class="img">
                     <img src="no-image.png" id="edit_gambar">
                   </div>
                   <div class="form-group col-md-9">
                     <input type="file" name="files" id="edit_file" style="display: none;">
                     <button type="button" id="edit_pilih" class="btn-primary" data-toggle="modal"
                       style="margin-top: 0px;">Pilih file</button>
                     <button id="upload-button" class="btn-success" style="margin-top: 0px;"> Upload </button>
                   </div>
                 </div>
               </div>
             </div> -->
           </div>

           <div class="modal-footer justify-content-between">
             <button type="button" class="btn btn-default" data-dismiss="modal" onclick="kosong_n_buku">Tutup</button>
             <button type="button" class="btn btn-primary" onclick="simpan_buku(window.n_buku,'edit')">Simpan</button>
           </div>
         </div>
       </div>
     </div>

   </div>

   <div class="modal fade" id="notif">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h4>
             <i class="fas fa-info-circle"></i>
             Peringatan!!
           </h4>
         </div>
         <div class="modal-body">
           <div class="form-group text-center">
             <label>yakin hapus data?</label>
           </div>
         </div>


         <div class="modal-footer justify-content-between">
           <button type="button" class="btn btn-default" data-dismiss="modal" onclick="kosong_id_buku()">Tidak</button>
           <button type="button" class="btn btn-primary" onclick="hapus_buku(window.id_buku)">Ya</button>
         </div>
       </div>
     </div>
   </div>

   <aside class="control-sidebar control-sidebar-dark">
   </aside>


   <script src="plugins/jquery/jquery.min.js"></script>
   <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="dist/js/adminlte.js"></script>
   <script src="../../plugins/select2/js/select2.full.min.js"></script>
   <script src="plugins/chart.js/Chart.min.js"></script>
   <script src="plugins/toastr/toastr.min.js"></script>

   <script src="dist/js/pages/dashboard3.js"></script>
   <script>
    //  const tm_pilih = document.getElementById('pilih');
    //  const file = document.getElementById('file');
    //  tm_pilih.addEventListener('click', function () {
    //    file.click();
    //  })
    //  file.addEventListener('change', function () {
    //    gambar(this);
    //  })

    //  function gambar(a) {
    //    if (a.files && a.files[0]) {
    //      var reader = new FileReader();
    //      reader.onload = function (e) {
    //        document.getElementById('gambar').src = e.target.result;
    //      }
    //      reader.readAsDataURL(a.files[0]);
    //    },j

    //  }

    //  const tm_pilih1 = document.getElementById('edit_pilih');
    //  const file1 = document.getElementById('edit_file');
    //  tm_pilih1.addEventListener('click', function () {
    //    file1.click();
    //  })
    //  file1.addEventListener('change', function () {
    //    gambar(this);
    //  })

    //  function gambar(b) {
    //    if (b.files && b.files[0]) {
    //      var reader = new FileReader();
    //      reader.onload = function (c) {
    //        document.getElementById('edit_gambar').src = c.target.result;
    //      }
    //      reader.readAsDataURL(b.files[0]);
    //    }

    //  }

     //  $(document).ready(function () {
     //     $("gambar").submit(function (event) {
     //        event.preventDefault();
     //         var formdata = new FormData($('gambar')[0]);
     //         var url = $("gambar").attr('action');
     //         $.ajax({
     //             url: url,
     //             type: "POST",
     //             data: formdata,
     //             dataType: "json",
     //             processData: false,
     //             contentType: false,
     //             success: function (data) {
     //                 console.log(data);
     //             }
     //         });
     //     });
     // });

     $('.select2bs4').select2({
       theme: 'bootstrap4'
     })
     user = '<%= session["nama"] %>'

     if (user == "") window.location = "/login"

     document.getElementById("user").innerHTML = `<a href="#" class="d-block">${user} </a>`

     kosong_n_buku()
     daftar_buku()

     function kosong_n_buku() {
       window.n_buku = 0
     }


     pilih_penerbit()

     function pilih_penerbit() {

       vhtml = ``

       $.ajax({
         url: '/daftar_penerbit',
         method: "GET",
         dataType: "json",
         data: {},
         success: function (hasil) {

           for (data of hasil) {
             vhtml += ` <option value = "${data.n_penerbit}">${data.nama}</option>`

           }

           $("#edit_penerbit").html(vhtml)
           $("#tambah_penerbit").html(vhtml)
         },
         error: function (hasil) {
           toastr.error(hasil.responseText)
         }
       })

     }

     pilih_kategori()
  function pilih_kategori() {

    $.ajax({
    url: '/daftar_kategori',
    method: "post",
    dataType: "json",
    data: {
      
    },
    success: function (hasil) {
      vhtml=""
    
      for(data of hasil){
        vhtml += ` <option value = "${data.id_kategori}">${data.nama_kategori}</option>`
      }

      $("#tambah_kategori").html(vhtml)
      $("#edit_kategori").html(vhtml)
    },
    error: function (hasil) {
      toastr.error(hasil.responseText)
    }
  })
    
  }


     kosong_id_buku()

     function kosong_id_buku() {
       window.id_buku = 0
     }

     function daftar_buku() {
       $.ajax({
         url: '/daftar_buku',
         method: "GET",
         dataType: "json",
         data: {},
         success: function (hasil) {
           vdata = []

           for (kolom of hasil) {
             aksi = `
            <div class="project-action">
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit" onclick="edit_buku(${kolom.n_buku})">
                  <i class="fas fa-pencil-alt">
                  </i>  
                  Edit
                </button>
                <button type="button" class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#notif"  onclick="data_hapus(${kolom.n_buku})">
                  <i class="fas fa-info-circle">
                  </i>  
                  Hapus
                </button>
            </div>
          `
             isi_table = []
             isi_table.push(kolom.n_buku, kolom.judul, kolom.deskripsi, kolom.n_penerbit, kolom.pengarang, kolom.rak_buku,kolom.nama_kategori, gridjs.html(aksi))
             vdata.push(isi_table)
           }
           new gridjs.Grid({
             columns: ["Nomer Buku", "Judul", "Deskripsi", "Penerbit", "Pengarang", "Rak Buku","Kategori", ""],
             data: vdata,
             pagination: {
               enabled: true,
               limit: 5
             },
             search: true,
             language: {
               search: {
                 placeholder: "Cari"
               },
               'pagination': {
                 'previous': 'Sebelumnya',
                 'next': 'Selanjutnya',
                 'showing': 'Menampilkan',
                 'results': 'Hasil',
                 'to': 'Sampai',
                 'of': 'Dari'


               }
             }
           }).render(document.getElementById("table_buku"));


         },
         error: function (hasil) {
           toastr.error(hasil.responseText)
         }
       })
     }

     function simpan_buku(n_buku, kondisi) {
       window.n_buku = n_buku

       $.ajax({
         url: '/simpan_buku',
         method: "POST",
         dataType: "JSON",
         data: {
           judul: document.getElementById(`${kondisi}_judul`).value,
           pengarang: document.getElementById(`${kondisi}_pengarang`).value,
           n_penerbit: document.getElementById(`${kondisi}_penerbit`).value,
           terbit: document.getElementById(`${kondisi}_terbit`).value,
           jilid: document.getElementById(`${kondisi}_jilid`).value,
           halaman: document.getElementById(`${kondisi}_halaman`).value,
           isbn: document.getElementById(`${kondisi}_isbn`).value,
           sinopsis: document.getElementById(`${kondisi}_sinopsis`).value,
           rak_buku: document.getElementById(`${kondisi}_rak`).value,
           kategori: document.getElementById(`${kondisi}_kategori`).value,
           'n_buku': n_buku

         },
         success: function (hasil) {

           toastr.success('Berhasil simpan')

           setTimeout(() => {
             window.location.reload();
           }, 1000)


         },

         error: function (hasil) {
           toastr.error(hasil.responseText)
         }
       })
     }

     //  function upload() {
     //    window.reader = reader
     //    $.ajax({
     //      url: "/simpan_buku",
     //      type: "POST",
     //      data: reader,
     //      processData: false,
     //      contentType: false,
     //      success: function (res) {
     //        document.getElementById("gambar").innerHTML = res;
     //      }
     //    });
     //  }

     function edit_buku(n_buku) {
       window.n_buku = n_buku
       $.ajax({
         url: '/edit_buku',
         method: "POST",
         dataType: "JSON",
         data: {
           "n_buku": n_buku
         },
         success: function (hasil) {
          console.log(hasil)
           document.getElementById("edit_judul").value = hasil.data.judul
           document.getElementById("edit_pengarang").value = hasil.data.pengarang
           document.getElementById("edit_penerbit").value = hasil.data.n_penerbit
           document.getElementById("edit_terbit").value = hasil.data.terbit
           document.getElementById("edit_jilid").value = hasil.data.jilid
           document.getElementById("edit_halaman").value = hasil.data.halaman
           document.getElementById("edit_isbn").value = hasil.data.isbn
           document.getElementById("edit_sinopsis").value = hasil.data.deskripsi
           document.getElementById("edit_rak").value = hasil.data.rak_buku
          // untuk memanggil select 
          $('#edit_penerbit').val(hasil.data.n_penerbit).trigger('change') 
          $('#edit_kategori').val(hasil.data.kategori).trigger('change') 

         },

         error: function (hasil) {
           toastr.error(hasil.responseText)
         }
       })
     }

     function hapus_buku(n_buku) {
       window.n_buku = n_buku
       $.ajax({
         url: '/hapus_buku',
         method: "DELETE",
         dataType: "JSON",
         data: {
           "n_buku": n_buku
         },
         success: function (hasil) {

           toastr.success('Berhasil dihapus')
           setTimeout(() => {
             window.location.reload();
           }, 1000)


         },

         error: function (hasil) {
           toastr.error(hasil.responseText)
         }
       })
     }

     function data_hapus(n_buku) {
       console.log(n_buku)
       window.id_buku = n_buku
     }

     function logout() {

       $.ajax({
         url: "/logout",
         method: "get",
         dataType: "json",
         data: {},
         success: function (results) {
           window.location = '/login'
         },
         error: function (hasil) {
           toastr.error(hasil.responseText)
         }
       })
     }

   </script>
 </body>

 </html>
